<% if @message.present?%>
<h1> Hello <%=@message%>world </h1>
<%else%>
<h1> Hello world</h1>
<%end%>

<% @notes.each do |note| %>
	<div> <%=note.user%> </div>
	<div> <%=note.content%> </div>
	<%=link_to 'Editer la  note',edit_note_path(note.id)%>
<%end%>
<br>
<%=link_to 'Creer une nouvelle note',new_note_path()%>





